/* widget_tag_cloud */
.widget_tag_cloud {
  a {
    min-width: 165px;
    text-align: center;
    font-family: 'Vidaloka', serif;
    font-size: 12px;
    letter-spacing: 4px;
    border-radius: 5px;
    border: 2px solid $darkgreyColor;
    padding: 4px 18px 4px 22px;
    margin: 0 6px 10px 0;
    display: inline-block;
    text-transform: uppercase;
    &:hover {
      background-color: $colorMain;
      border-color: $colorMain;
      color: $lightColor;
    }
  }

}