/*
** Buttons
 */
.btn:hover {
  cursor: pointer;
}

.btn.focus,
.btn:focus {
  box-shadow: 0 0 3px 0 rgba(100, 100, 100, .75);
}

.btn-secondary {
  border-color: $borderColor;
  color: $darkgreyColor;
}

/*color background buttons*/
.btn-maincolor,
.btn-maincolor2,
.btn-maincolor3,
.btn-darkgrey {
  color: $lightColor;
  font-size: 12px;
  letter-spacing: 4px;
  border-radius: 3px;
  min-width: 260px;
  font-family: 'Vidaloka', serif;
  border: 2px solid $colorMain;
  padding-left: 30px;
  padding-right: 30px;
}

.btn-maincolor {
  background-color: $colorMain;
}

.btn-maincolor2 {
  background-color: $colorMain2;
  border: 2px solid $colorMain2;
}

.btn-maincolor3 {
  background-color: $colorMain3;
  border: 2px solid $colorMain3;
}

.btn-darkgrey {
  background-color: $darkgreyColor;
}

/*color outline buttons*/
.btn-outline-maincolor,
.btn-outline-maincolor2,
.btn-outline-maincolor3,
.btn-outline-darkgrey {
  color: #fff;
  background-color: transparent;
  font-size: 12px;
  letter-spacing: 4px;
  border-radius: 3px;
  min-width: 260px;
  font-family: 'Vidaloka', serif;
  border-width: 2px;
  padding-left: 30px;
  padding-right: 30px;
}

.btn-outline-maincolor {
  border-color: $colorMain;
}

.btn-outline-maincolor2 {
  border-color: $colorMain2;
}

.btn-outline-maincolor3 {
  border-color: $colorMain3;
}

.btn-outline-darkgrey {
  border-color: $darkgreyColor;
}

// Buttons wc-forward
.button{
  &.wc-forward{
    color: $lightColor;
    font-size: 12px;
    letter-spacing: 4px;
    border-radius: 3px;
    min-width: 260px;
    font-family: 'Vidaloka', serif;
    border: 2px solid $colorMain;
  }
}