.pricing-plan {
  text-align: center;
  padding: 40px 40px 55px;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: #000;
  border-radius: 5px;
  overflow: hidden;

  .price-wrap {
    font-family: 'Vidaloka',serif;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 50px;
    line-height: 0.7;
    margin: 66px 0 23px;

    &[class*='bg-'] {
      padding: 30px 30px 10px;
      margin-top: 50px;
      margin-bottom: 0;
    }
    .plan-price {
      font-size: 50px;
    }
  }
  [class*='bg-'] {
    padding: 10px 30px 30px;
    margin-left: -41px;
    margin-right: -41px;
  }
  .plan-name {
    &[class*='bg-'] {
      padding-top: 30px;
      margin-top: -40px;
    }
    h3 {
      font-size: 30px;
      line-height: 40px;
    }
  }

  .plan-description {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 4px;
    line-height: 1;
    font-family: 'Vidaloka', serif;
  }

  .plan-decimals {
    font-size: 32px;
  }

  @media(min-width: 1200px) {
    padding: 57px 60px 55px;
    [class*='bg-'] {
      margin-left: -61px;
      margin-right: -61px;
    }
    .plan-name[class*='bg-'] {
      margin-top: -57px;
    }
  }

  .plan-features {
    margin: 58px 0 60px;
  }

  .plan-button {
    .btn.btn-maincolor{
      min-width: 200px;
    }
  }

  //featured border
  &.plan-featured {
    transform: translateY(-35px);
    .plan-button {
      top: 48px;
    }

    @media (max-width: 992px) {
      transform: none;
    }
  }
}

