/*
** Side Header
*/
/* side header layout */

body {
  &:after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1001;
    visibility: hidden;
    opacity: 0;
  }
}

body,
body:after,
#canvas,
.page_header_side {
  transition: $headerTransition;
}

#canvas {
  left: 0;
  transition-property: left, margin-left;
}

//push side header
body.active-side-header {

  //disable scrolling when push_header is active
  overflow: hidden;

  #canvas {
    //transition-property: left;
    left: $sideHeaderWidth;
  }

  .page_header_side {
    left: 0;
  }
  &:after {
    visibility: visible;
    opacity: 1;
  }
}

html.html-active-push-header {
  overflow: hidden;
}

/////////////
//left layout
.page_header_side {
  z-index: 1002;
  position: fixed;
  width: $sideHeaderWidth;
  left: -$sideHeaderWidth;
  top: 0;
  bottom: 0;

  //shadow for slide header
  &.active-slide-side-header {
    box-shadow: 0 0 4px 3px rgba(50, 50, 50, 0.05);
  }

  //hidding regular menu toggler in side header exists
  & ~ .page_toplogo {
    .toggle_menu {
      display: none;
    }
  }
  a.logo {
    padding: 10px 20px;
    margin-bottom: 20px;
    img {
      max-width: 100%;
    }
  }
  .widget {
    margin-top: 60px;
    padding-left: $sideHeaderLeftRightPadding;
    padding-right: $sideHeaderLeftRightPadding;
  }

  .widget_icons_list li + li {
    margin-top: 1em;
  }

  .social-icons {
    display: block;
    margin-top: 43px;
    a.border-icon,
    a.bg-icon,
    a.color-bg-icon {
      margin-top: 2px;
      margin-bottom: 2px;
    }
  }

  //making toggler not overlap on top sections
  @media (min-width: 1200px) {
    & ~ .page_topline .container-fluid,
    & ~ .page_toplogo .container-fluid,
    & ~ div .page_header .container-fluid {
      padding-left: 65px;
      padding-right: 65px;
    }
  }
  @media (max-width: 1199px) {
    & ~ .page_topline [class*="container"],
    & ~ .page_toplogo [class*="container"],
    & ~ div .page_header [class*="container"] {
      padding-left: 65px;
      padding-right: 65px;
    }
  }
}

.side_header_inner {
  padding: 26px 0 60px;
}

//side header toggler
.toggle_menu_side {
  transition: right 0.3s ease-in-out;
  position: absolute;
  top: 0;
  right: -60px;
  margin: 0;

  @media(max-width: 370px) {
    &.active {
      right: 0;
      opacity: 0.4;
    }
  }

  &:before,
  & span:before,
  & span:after,
  & span {
    background-color: $lightColor !important;
  }

  .ds & {
    background-color: $colorMain;
  }

  .bs & {
    background-color: $colorMain;
  }
  .ls & {
    background-color: $colorMain;
  }
}

//toggler for sticked left header
.page_header_side.header_side_sticked .toggle_menu_side {
  transition: $headerTransition;
  right: -60px;
  top: 0;
}

.page_header_side.active-slide-side-header {
  left: 0;
}

//fix for animation on affix header with push side header
.active-side-header .boxed .header_push ~ div .page_header,
.active-side-header .header_push ~ div .page_header.affix {
  margin-left: $sideHeaderWidth;
}

.active-side-header.slide-right .boxed .header_push ~ div .page_header,
.active-side-header.slide-right .header_push ~ div .page_header.affix {
  margin-left: -$sideHeaderWidth;
}

//right layout
.page_header_side.header_side_right {
  left: auto;
  right: -$sideHeaderWidth;
  &.active-slide-side-header {
    right: 0;
  }
  .toggle_menu_side {
    right: auto;
    transition: left 0.3s ease-in-out;
    left: -60px;
    @media(max-width: 370px) {
      &.active {
        left: 0;
      }
    }
  }
}

body.active-side-header.slide-right {
  #canvas {
    left: -$sideHeaderWidth;
  }
  .page_header_side {
    left: auto;
    right: 0;
  }
}


@media (min-width: 600px) {
  .page_header_side.header_side_sticked.active-slide-side-header {
    left: 0;
  }
  .header_side_sticked ~ * {
    transition: margin $headerTransition;
    .container-fluid {
      padding-left: 80px;
    }

  }

  .header_side_sticked ~ div .page_header {
    width: auto;
  }

  .header_side_sticked.active-slide-side-header ~ *,
  .header_side_sticked.active-slide-side-header ~ div .page_header {
    margin-left: $sideHeaderWidth;
  }

  .boxed .header_side_sticked.active-slide-side-header ~ *,
  .boxed .header_side_sticked.active-slide-side-header ~ div .page_header {
    margin-left: 0;
  }

  .header_side_sticked ~ .page_header_wrapper {
    margin: 0 !important;
  }

  //right sticked layout
  .page_header_side.header_side_sticked.header_side_right.active-slide-side-header {
    left: auto;
  }
  .header_side_sticked.header_side_right.active-slide-side-header ~ *,
  .header_side_sticked.header_side_right.active-slide-side-header ~ div .page_header {
    margin-left: 0;
    margin-right: $sideHeaderWidth;
  }

}

.header_absolute{
  .page_header{
    background-color: #000000;

    &.affix{
      &.bottom_mask_add::before{
        background-color: #000000;
        transition: all 0.4s linear 0s;
        @media (max-width: 468px) {
          //background: none;
        }
      }
      .container-fluid{
        padding-bottom: 10px;
        padding-top: 5px;
      }
      .header-phone{
        & >span{
          &:last-child, &:first-child{
            display: inline-block;
            height: 0;
            font-size: 0;
            visibility: hidden;
            transition: visibility 0.2s linear 0s;
          }
        }
      }
      a.logo{
        img{
          height: 85px;
          @media (max-width: 1200px){
            height: 80px;
          }
        }
      }
    }
  }
}

.page_header_side{
  &.vertical_menu_header{
    z-index: 1002;
    width: auto;
    left: 0;
    bottom: auto;
    background-color: #000000;

    .side_header_inner{
      position: absolute;
      top: 0;
      opacity: 0;
      transform: scaleY(0);
      transform-origin: top;
      visibility: hidden;
    }
  }
  &.bottom_mask_add{
    &::before{
      background-color: #000000;
      @media (max-width: 767px) {
        //background-color: transparent;
      }
    }
  }
  .header-phone{
    margin-top: 37px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    letter-spacing: 4px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: 'Vidaloka', serif;
    @media (max-width: 1199px) {
      margin-top: 10px;
    }
    @media (max-width: 992px) {
      display: none;
    }
  }
  .phone{
    border: 2px solid #FFFFFF;
    font-family: 'Vidaloka', serif;
    align-items: center;
    border-radius: 5px;
    padding: 4px 15px;
    font-size: 24px;
    display: flex;
    letter-spacing: 0;
  }

  a.logo{
    padding: 0;
    margin: 0;
    min-width: 278px;
    img{
      transition: all 0.2s linear 0s;
      height: 126px;
      max-height: none;
    }
    @media (max-width: 1200px) {
      img{
        height: 80px;
      }
    }
    @media (max-width: 992px) {
      min-width: 200px;
    }
  }

  .container-fluid{
    transition: all 0.2s linear 0s;
    z-index: 500;
    position: relative;
  }

  .header-soc{
    margin-top: 37px;
    display: flex;
    align-items: center;
    width: 278px;
    justify-content: flex-end;
    a{
      font-size: 14px;
      margin-right: 27px;
      &:hover{
        color: $colorMain;
      }
      @media (max-width: 992px) {
        display: none;
      }
    }
    @media (max-width: 1199px) {
      margin-top: 10px;
    }
    @media (max-width: 992px) {
      width: auto;
      margin-top: 34px;
      margin-bottom: 10px;
    }
    .toggle_menu_side{
      position: relative;
      right: 0;
      display: block;
      background-color: transparent!important;
      transition: all .3s ease-in-out;
      &::before{
        position: absolute;
        content: 'menu';
        color: #FFFFFF;
        font-size: 12px;
        text-transform: uppercase;
        font-family: 'Vidaloka', serif;
        letter-spacing: 2px;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        transition: 0.25s ease-in-out;
        height: auto;
        background: transparent !important;
      }
      span{
        background: transparent!important;
        &::before, &::after{
          width: 40px;
        }
        &::before{
          top: -20px;
        }
        &::after{
          top: 18px;
        }
      }
      &::after{
        display: none;
        position: absolute;
        content: 'close';
        color: #FFFFFF;
        font-size: 12px;
        text-transform: uppercase;
        font-family: 'Vidaloka', serif;
        letter-spacing: 2.6px;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        transition: 0.25s ease-in-out;
        height: auto;
        background: transparent !important;
      }
      &:hover{
        &::before, &::after{
          color: $colorMain;
        }
        span{
          &::before, &::after{
            background-color: $colorMain!important;
          }
        }
      }
      &.mobile-active{
        &::before{
          display: none;
        }
        &::after{
          display: block;
          transform: translateX(-50%) translateY(-50%);
          background-color: #1a1a1a!important;
          line-height: 19px;
          transition: 0.25s ease-in-out;
        }
        span{
          &::before, &::after{
            opacity: 1;
          }
          &::before{
            top: 0;
            left: -11px;
            width: 55px;
          }
          &::after{
            top: -1px;
            transform: rotate(-90deg);
            width: 55px;
            left: -12px;
          }
        }
      }
    }
  }

  .firefox-on-macos {
    overflow: scroll !important;
  }

  .firefox-on-macos.scroll-wrapper > .scroll-content {
    overflow: auto;
  }

  .side_header_inner{
    width: 100%;
    background: url("../images/bg-menu.jpg") no-repeat center / cover;
    transition: all 0.2s linear 0.2s;
    padding: 0;
    padding-top: 270px;
    min-height: 100vh;

    @media (max-width: 1440px){
      padding-top: 200px;
    }
    @media (max-width: 992px) {
      padding-top: 150px;
    }

    .scroll-wrapper{
      //max-height: calc(100vh - 80px);
      max-height: calc(100vh - 350px);
      //padding-top: 270px;
      min-height: 600px;
      height: 100%;
      &::before{
        content: '';
        top: -40px;
        //top: -20px;
        left: 0;
        box-shadow: 10px 20px 28px 45px #1a1a1a;
        display: inline-block;
        position: absolute;
        width: 100%;
        height: 0;
        //height: 240px;
        z-index: 1000;
      }
      &::after{
        content: '';
        bottom: -35px;
        left: 0;
        box-shadow: 10px -20px 28px 45px #1a1a1a;
        display: inline-block;
        position: absolute;
        width: 100%;
        height: 0;
        z-index: 1000;
      }
      @media (max-width: 1440px) {
        max-height: calc(100vh - 280px);
        min-height: initial;
        &::before{
          //height: 175px;
        }
        &::after{
          bottom: -32px;
        }
      }
      @media (max-width: 992px) {
        max-height: calc(100vh - 230px);
        padding-bottom: 30px;
        &::before{
          //height: 117px;
        }
        &::after{
          bottom: -5px;
        }
      }
    }

    .bottom_part{
      display: none;
      position: absolute;
      bottom: 35px;
      left: 20px;
      right: 20px;
      justify-content: space-between;
      align-items: center;
      .header-soc{
        width: auto;
        a{
          margin-right: 15px;
        }
        margin-bottom: 0;
        a:last-child{
          margin-right: 0;
        }
      }
      @media (max-width: 992px) {
        display: flex;
        .header-soc a, .header-phone{
          display: flex;
        }
      }
    }

    .header-side-menu{
      display: flex;
      align-items: center;
      height: 100%;
    }

    .toggle_menu_side{
      position: relative;
      right: 0;
      display: block;
      background-color: transparent!important;
      transition: all .3s ease-in-out;
      &::before{
        position: absolute;
        content: 'menu';
        color: #FFFFFF;
        font-size: 12px;
        text-transform: uppercase;
        font-family: 'Vidaloka', serif;
        letter-spacing: 2.6px;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        transition: 0.25s ease-in-out;
        height: auto;
        background: transparent !important;
      }
      span{
        background: transparent!important;
        &::before, &::after{
          width: 40px;
        }
        &::before{
          top: -18px;
        }
        &::after{
          top: 15px;
        }
      }
      &::after{
        display: none;
        position: absolute;
        content: 'close';
        color: #FFFFFF;
        font-size: 12px;
        text-transform: uppercase;
        font-family: 'Vidaloka', serif;
        letter-spacing: 2.6px;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        transition: 0.25s ease-in-out;
        height: auto;
        background: transparent !important;
      }
      &:hover{
        &::before, &::after{
          color: $colorMain;
        }
        span{
          &::before, &::after{
            background-color: $colorMain!important;
          }
        }
      }
      &.mobile-active{
        &::before{
          display: none;
        }
        &::after{
          display: block;
          transform: translateX(-50%) translateY(-50%);
          background: #1a1a1a!important;
          line-height: 19px;
        }
        span{
          &::before, &::after{
            opacity: 1;
          }
          &::before{
            top: 0;
            left: -10px;
            width: 55px;
          }
          &::after{
            top: -1px;
            transform: rotate(-90deg);
            width: 55px;
            left: -12px;
          }
        }
      }
    }

    .container-fluid{
      padding: 0!important;

      [class*="col-"]{
        margin-top: 0;
        margin-bottom: 0;
      }
    }
    .menu-side-click{
      .menu-click .active-submenu > a{
        background: transparent;
      }
      .menu-click{
        li{
          text-align: center;
        }
        .toggle_submenu::before{
          content: none;
        }
      }
      .menu-click a{
        font-size: 50px;
        text-transform: uppercase;
        font-family: 'Vidaloka', serif;
        font-weight: 400;
        padding: 0;
        line-height: 70px;
        &:hover{
          color: $colorMain;
          background-color: transparent;
        }
        @media (max-width: 1200px) {
          font-size: 40px;
          line-height: 65px;
        }
        @media (max-width: 992px) {
          font-size: 30px;
          line-height: 55px;
        }
      }
      .menu-click{
        .active-submenu{
          a{
            color: $colorMain;
            font-size: 50px;
          }
          ul{
            display: flex;
            justify-content: center;
            flex-direction: column;
            li{
              width: auto;
              a{
                font-size: 24px;
                color: #999797;
                line-height: 50px;
                &:hover{
                  color: $colorMain;
                }
              }
              &.active-submenu{
                & > a{
                  color: $colorMain;
                }
                ul{
                  flex-direction: column;
                  li{
                    a{
                      font-size: 18px;
                      line-height: 50px;
                    }
                  }
                }
              }
            }
          }
        }
        @media (max-width: 1200px) {
          .active-submenu{
            a{
              font-size: 40px;
              line-height: 55px;
            }
            ul{
              li{
                a{
                  font-size: 24px;
                  line-height: 40px;
                }
                &.active-submenu{
                  ul{
                    li{
                      a{
                        font-size: 18px;
                        line-height: 40px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        @media (max-width: 992px) {
          .active-submenu{
            a{
              font-size: 30px;
              line-height: 50px;
            }
            ul{
              li{
                a{
                  font-size: 20px;
                  line-height: 40px;
                }
                &.active-submenu{
                  ul{
                    li{
                      a{
                        font-size: 18px;
                        line-height: 40px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  &.active-slide-side-header{
    background-color: $darkColor;
    .side_header_inner{
      transition: all 0.1s ease-in-out;
      opacity: 1;
      transform: scaleY(1);
      visibility: visible;
      z-index: 6;
    }
    .toggle_menu_side{
      &::before{
        transform: rotate(-495deg);
        top: 50%;
      }
      &::after{
        transform: rotate(495deg);
        top: 50%;
      }
    }
  }

  .header_bottom_part{
    background-color: #fff;
    color: $darkColor;
    min-height: 160px;
    padding-left: 30px;
    padding-right: 30px;

    @media (max-width: 768px) {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    @media (max-width: 1200px) {
      .col-12{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .media-wrap{
          flex-wrap: wrap;
          display: flex;
          justify-content: center;

          .media{
            margin: 0 15px;
            .media-body{
              p{
                font-size: 16px;
              }
            }
          }

          .media + .media{
            margin-left: 0;
          }
        }
      }
    }

    @media (max-width: 1400px) {
      h5{
        display: none;
      }
    }

    @media (min-width: 1200px) {
      padding-left: 55px;
      padding-right: 55px;
    }

    @media (min-width: 1600px) {
      padding-left: 80px;
      padding-right: 80px;
    }

    h5{
      color: $darkColor;
    }

    .media{
      & + .media{
        margin-left: 40px;
      }
      .icon-styled{
        margin-top: 0;
      }
      .media-body > p:first-child{
        margin-top: 0;
        font-size: 20px;
        font-weight: bold;
      }
    }

    .social-icons .icon-styled{
      border-color: $darkColor;
      a{
        color: $darkColor;
        &:hover{
          color: $darkColor!important;
        }
      }

      &:hover{
        background-color: transparent;
        border-width: 4px;
        a{
          color: $darkColor;
        }
      }
    }
  }
}

@media (min-width: 1600px){
  .page_header_side.vertical_menu_header:not(.affix) .container-fluid {
    transition: all 0.2s linear 0s;
  }
}

@media (min-width: 1400px) {
  .page_header_side.vertical_menu_header .container-fluid {
    //padding-top: 10px;
    //padding-bottom: 10px;
    transition: all 0.2s linear 0s;
  }
}


@media (min-width: 320px) {
  .page_header_side.vertical_menu_header .container-fluid {
    //padding-top: 15px;
    //padding-bottom: 15px;
  }
}
