//color schemes
//1
$styleNumber: '';
$colorMain: #F0582C;
$colorMain2: #d300e0;
$colorMain3: #7900e0;
$colorMain4: #56d7fe;

//////bootstrap colors
//orange - warning

$colorPrimary: $colorMain;
//green
$colorSuccess: #4db19e;
//blue
$colorInfo: #007ebd;
//orange
$colorWarning: #eeb269;
//red
$colorDanger: #dc5753;
