//color schemes
//3
$styleNumber: '3';
$colorMain: #7900e0;
$colorMain2: #e41779;
$colorMain3: #d300e0;
$colorMain4: #82b440;

//////bootstrap colors
//orange - warning

$colorPrimary: $colorMain;
//green
$colorSuccess: #5BB75B;
//blue
$colorInfo: #006DCC;
//orange
$colorWarning: #FAA732;
//red
$colorDanger: #DA4F49;